PRODUCTION_BRANCH: ''
PHPLINT: true
PHPCSFIXER: true
PHPCS: true
PHPMD: true
PHPUNIT: false

# Proposed structure
# branch_name:
#   pre-commit:
#     enabled: true
#     execute:
#       phplint:
#         test: (some regex)
#       phpcsfixer:
#         test: (some regex)
#       phpcs:
#         test: (some regex)
#       phpmd:
#         test: (some regex)
#       phpunit:
#         test: (some regex)
#   commit-message:
#     enabled: true
